body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}

#game-board{
    background-color: lightgreen;
    width: 99vmin;
    height: 99vmin;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    border: 4px solid black;
}

.snake{
    background-color: yellow;
    border: .25vmin solid black
}

.food{
    background-color: lightskyblue;
    border: .25vmin solid black
}
