<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/index.css" rel="stylesheet">
    <title>HomePage</title>
</head>
<body>
    <header>
        <img class="logo" src="/images/logo.png" alt="logo">
        <nav>
            <ul class="navLinks">
                <li id="navbarList"><a href="/users/home" id="navbarLink">Home</a></li>    
                <li id="navbarList"><a href="/users/projects" id="navbarLink">Projects</a></li>    
                <li id="navbarList"><a href="/users/about" id="navbarLink">About</a></li>    
            </ul>
        </nav>
        <div class="registration-dropdown">
            <button class="dropdown-button">Dropdown</button>
            <div class="dropdown-content">
                <a class="cta" href="/users/login">Login</button></a>
                <a class="cta" href="/users/register">Register</button></a>
            </div>
        </div>
    </header>
</body>
</html>